<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperQuiz">
        <activity android:name=".Deadpool5"></activity>
        <activity android:name=".Deadpool4" />
        <activity android:name=".Deadpool3" />
        <activity android:name=".Deadpool2" />
        <activity android:name=".HarryPotter5" />
        <activity android:name=".HarryPotter4" />
        <activity android:name=".HarryPotter3" />
        <activity android:name=".HarryPotter2" />
        <activity android:name=".BreakingBad5" />
        <activity android:name=".BreakingBad4" />
        <activity android:name=".BreakingBad3" />
        <activity android:name=".BreakingBad2" />
        <activity android:name=".WalkingDead5" />
        <activity android:name=".WalkingDead4" />
        <activity android:name=".WalkingDead3" />
        <activity android:name=".WalkingDead2" />
        <activity android:name=".GuessTheSlogan5" />
        <activity android:name=".GuessTheSlogan4" />
        <activity android:name=".GuessTheSlogan3" />
        <activity android:name=".GuessTheSlogan2" />
        <activity android:name=".GuessTheLogo5" />
        <activity android:name=".GuessTheLogo4" />
        <activity android:name=".GuessTheLogo3" />
        <activity android:name=".GuessTheLogo2" />
        <activity android:name=".OnePiece5" />
        <activity android:name=".OnePiece4" />
        <activity android:name=".OnePiece3" />
        <activity android:name=".OnePiece2" />
        <activity android:name=".MyHeroAcademia5" />
        <activity android:name=".MyHeroAcademia4" />
        <activity android:name=".MyHeroAcademia3" />
        <activity android:name=".MyHeroAcademia2" />
        <activity android:name=".TokyoGhoul5" />
        <activity android:name=".TokyoGhoul4" />
        <activity android:name=".TokyoGhoul3" />
        <activity android:name=".TokyoGhoul2" />
        <activity android:name=".Pokemon5" />
        <activity android:name=".Pokemon4" />
        <activity android:name=".Pokemon3" />
        <activity android:name=".Pokemon2" />
        <activity android:name=".AttackOnTitan5" />
        <activity android:name=".AttackOnTitan4" />
        <activity android:name=".AttackOnTitan3" />
        <activity android:name=".AttackOnTitan2" />
        <activity android:name=".Geography5" />
        <activity android:name=".Geography4" />
        <activity android:name=".Geography3" />
        <activity android:name=".Geography2" />
        <activity android:name=".History5" />
        <activity android:name=".History4" />
        <activity android:name=".History3" />
        <activity android:name=".History2" />
        <activity android:name=".Ranking" />
        <activity android:name=".Deadpool" />
        <activity android:name=".HarryPotter" />
        <activity android:name=".BreakingBad" />
        <activity android:name=".WalkingDead" />
        <activity android:name=".GuessTheSlogan" />
        <activity android:name=".GuessTheLogo" />
        <activity android:name=".OnePiece" />
        <activity android:name=".MyHeroAcademia" />
        <activity android:name=".TokyoGhoul" />
        <activity android:name=".Pokemon" />
        <activity android:name=".AttackOnTitan" />
        <activity android:name=".Geography" />
        <activity android:name=".History" />
        <activity android:name=".Series" />
        <activity android:name=".Movies" />
        <activity android:name=".Brand" />
        <activity android:name=".Manga" />
        <activity android:name=".GeneralCulture" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Connect" />
        <activity android:name=".Create" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>