<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.superquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperQuiz">
        <activity android:name=".History5"></activity>
        <activity android:name=".History4" />
        <activity android:name=".History3" />
        <activity android:name=".History2" />
        <activity android:name=".Ranking" />
        <activity android:name=".Deadpool" />
        <activity android:name=".HarryPotter" />
        <activity android:name=".BreakingBad" />
        <activity android:name=".WalkingDead" />
        <activity android:name=".GuessTheSlogan" />
        <activity android:name=".GuessTheLogo" />
        <activity android:name=".OnePiece" />
        <activity android:name=".MyHeroAcademia" />
        <activity android:name=".TokyoGhoul" />
        <activity android:name=".Pokemon" />
        <activity android:name=".AttackOnTitan" />
        <activity android:name=".Geography" />
        <activity android:name=".History" />
        <activity android:name=".Series" />
        <activity android:name=".Movies" />
        <activity android:name=".Brand" />
        <activity android:name=".Manga" />
        <activity android:name=".GeneralCulture" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Connect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>